.container {
    margin: 0 auto;
    max-width: 80%;
}

.menu {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background-color: #EBEEF3;
}

@media screen and (max-width: 790px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}